
<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-nav mt-0">
    <div class="container-fluid">
      <img  class="navbar-brand" src="./assets/img/down-logo.png"  alt="">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="to-do">To-Do</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="scheduled-time">Scheduled-Time</a>
          </li>
        </ul>
      </div>
    </div>
</nav>